{% extends "./sidebar-09/home.html" %}
{% block content %} 
    <div class="w3-row-padding w3-center w3-margin-top" style="margin-left: 220px;">
      <div class="w3-third">
        <div class="w3-card w3-container" style="background-color:rgb(239, 243, 247); min-height:460px; width: 900px; height:max-content;">
          <h1 style="font-size:60px; color:#4070F4">Feed <i class="fa fa-thumbs-up"></i></h1><br> 
          <br>
          {% for item in followed %}
           <div class="w3-card" style="width:400px; height: fit-content; min-height: 330px; margin-left: 230px;">
            <tr>
              <br>
              <img height="125" width="125" style="border-radius: 50%;"src="/static/sidebar/images/{{item[0][5]}}" />
              <td><a href="/{{item[0][2]}}">{{item[0][1]}}</a></td>
              <br><br>
            <script>
              var check=false;
            </script>
            {% for pa in path[item[1]] %}
            <div style="border: outset; width:280px; margin-left: 65px; ">
            <tr>
              <td><a href="/view-file/{{pa[0]}}">{{pa[0]}}</a></td>
              <br />
              <script>
                check=true;
              </script>
            </tr>
          </div>
            {% endfor %}
            <br />
            <br />
            <button id="{{item[0][0]}}" type="button" class="button info" style="margin-left: 80px;">Save Repository
            </button>
            <script type="text/javascript">
              document.getElementById("{{item[0][0]}}").onclick = function () {
                location.href = "/save-to-repository/{{item[0][0]}}";
              };
            </script>
            
            <script>
              if (check == true){
                document.getElementById("{{item[0][0]}}").style.display="block";
              }
              else{
                document.getElementById("{{item[0][0]}}").style.display="none";
              }
            </script>
            <br /><br />
            </tr>
          </div><br><br>
            {% endfor %}
           
          </div>
        
    </div>
    </div>
{% endblock %}     
                
