
<!DOCTYPE html>
<html lang="en">    
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <link
      rel="stylesheet"
      href="./static/new.css"
    />
    
   
  
 
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href='https://kit.fontawesome.com/a076d05399.js'>
     
    </head>
    <body>
   
      <nav class="navbar navbar-inverse" >
        <div class="container-fluid">
          <div class="navbar-header" >
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="/home" style="color: white;">Data Science Toolkit</a>
          </div>
          <section style="float: right;">
          <div class="collapse navbar-collapse" id="myNavbar" >
            <ul class="nav navbar-nav" >
              
              <li><a href="/text-summarization" style="color:white">Text Summarization</a></li>
              <li><a href="/topic-modeling"style="color:white">Topic Modeling</a></li>
              <li><a href="/sentiment-analysis"style="color:white">Sentiment Analysis</a></li>
              <li><a href="/reports"  style="color:white"><i class="fa fa-bar-chart "></i> Reports</a></li>
                  <li class="dropdown">
                      <a class="dropdown-toggle" style="color:white" data-toggle="dropdown" href="#"> More <span class="caret"></span></a>
                      <script type="text/javascript">
                        document.getElementById("profile").onclick = function () {
                          location.href = "/profile";
                        };
                      </script>
                      <ul class="dropdown-menu">
                        <li><a href="/feed"><i class="fa fa-thumbs-up"style="color:dodgerblue"></i> Feed</a></li>
                        <li><a href="/receive-notification"><i class="fa fa-sign-out"style="color:dodgerblue"></i> Notification</a></li>
                        <li><a href="/repository"><i class="fa fa-database"style="color:dodgerblue"></i> Repository</a></li>
                        <li><a href="/profile"><i class="fa fa-user"style="color:dodgerblue"></i> Profile</a></li>
                        <li><a href="/"><i class="fa fa-sign-out"style="color:dodgerblue"></i> Logout</a></li>
                      </ul>
                    </li>
            </ul>
          <!--{% include "./includes/message.html" %}-->
            <form class="navbar-form navbar-left" action="/users-search" method="POST">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search users..." name="search">
                <div class="input-group-btn">
                  <button class="btn btn-info" type="submit" style="margin-top:6px; height:29px">
                    <i class="glyphicon glyphicon-search" ></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
         </section>
        </div>
      </nav>
  {% include "./includes/message.html" %}
  
    {% block content %} {% endblock %}

 
 <!-- Footer -->
 <footer class="footer text-center" style="background-color: black; color:white; height:160px">
  <br>
    <a class="up-arrow" href="/home" data-toggle="tooltip" title="TO TOP" style="color:white">
      <span class="glyphicon glyphicon-chevron-up"></span>
    </a><br>
  <i class="fa fa-google"></i>
  <i class="fa fa-github "></i>
  <br><br>
  <h4>dstoolkit@gmail.com</h4>
  </div>
  </footer>
</body>
</html>
    