{% extends "./sidebar-09/home.html" %}
{% block content %}        
    
<br >
    <div class="container-fluid">
        <div class="row">
          <div class="col-sm-2" ></div>
           
          <div class="col-sm-8" style="background-color:rgb(239, 243, 247); border-radius: 1%;">
            <div class="card text-center">
     <br> 
     <form id="form1" runat="server">
        <div>
         
        <div class="coverpic" style="height: 300px;">
        <img  src="/static/sidebar/images/{{c}}" style="height: 300px; width:800px; margin-left:40px ">
      
      </div>
        <div class="profilepic" >
        <img  src="/static/sidebar/images/{{p}}" style="width: 150px; height: 150px;   border-radius: 50%;" >
      </div>
      </div><br><br><br>
      <h2>{{n}}</h2>
    </form>
    <br>
    </div>
    <center>
  <h3>Change Profile Picture:</h3>
<br />
<form method="POST" action="profile-picture" enctype="multipart/form-data">
  <div id="upload_button">
      <label>
        <input type="file" style="color: transparent; width:150px;" name="profile" id="fileUpload" />
        <span class="btn btn-info" data-toggle="tooltip" title="Upload file from computer">Upload profile</span>
        <input type="submit" value="Submit" name="submit" class="btn btn-danger"/>
      </label>
    </div>
</form>  

<br />
<h3>Change Cover Picture:</h3>
<br />
<form method="POST" action="cover" enctype="multipart/form-data">
  <div id="upload_button">
    <label>
      <input type="file" style="color: transparent; width:150px;" name="cover" id="fileUpload" />
      <span class="btn btn-info" data-toggle="tooltip" title="Upload file from computer">Upload profile</span>
      <input type="submit" value="Submit" name="submit" class="btn btn-danger"/>
    </label>
  </div>
</form>  
<br />
<br />
<h3 class="home__title-color">Account Recovery Email:</h3><br>

<span class="label-input100">Recovery Email : <b>{{r}}</b></span><br />
<form action="/recovery-email" method="POST">
  <span class="label-input100"
    >Enter your recovery Email (in case you lose password)</span
  >
  <input type="email" id="email" name="email" />
  <input type="submit" class="btn btn-danger"/>
</form>
<br><br>
</div>
<br><br>
</div>
    </div>

          </div>
          <div class="col-sm-2"></div>
        </div>
      </div>
  <br>
{% endblock %}
              