{% extends "./sidebar-09/home.html" %}
{% block content %}      
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2" ></div>

      <div class="col-sm-8">
        <div class="container-fluid" style="background-color: white; border-radius: 10px;">  
            <h1 class=home__title >Respository <i class="fa fa-database"></i></h1><br>
            <div class="container-fluid">
                    <div style="padding: 16px;">
                      <h3>Saved Repositories</h3><br><br>
                      <div class="scrollmenu w3-padding">
                        {% for name in names %}
                        <button id="{{name[1]}}" type="button" data-toggle="tooltip" title="Repositories you have saved" class="btn btn-info" style="border-radius: 6px;">{{name[0]}}</button>
                        <script type="text/javascript">
                          document.getElementById("{{name[1]}}").onclick = function () {
                            location.href = "/repository/{{name[1]}}";
                          };
                        </script>
                        {% endfor %}
                      </div>
                    <br>
                    <h3>My Files</h3>
                    <div>
                      <br>
                      <form method="POST" action="/upload-file" enctype="multipart/form-data" style="margin-left:50px; margin-top:5px">
                        <div class="file btn  btn-info" style="position: relative;
                        overflow: hidden;">Upload File
                        <input type="file" name="fileToUpload" style="position: absolute;
                        font-size: 50px;
                        opacity: 0;
                        right: 0;
                        top: 0;" id="fileToUpload" style="color: transparent; width:150px; display: inline-block;" />
                      </div>
                      <div class="file btn  btn-danger" style="position: relative;
                        overflow: hidden;"> Submit
                        <input type="submit" value="save" name="submit" style="position: absolute;
                        font-size: 50px;
                        opacity: 0;
                        right: 0;
                        top: 0;" />
                      </div>
                      </form>

   
                    
                      <br>
                        {% for item in path %}
                        <ul class="card" style="text-align: left;">
                        <div class="row">
                          <div class="col-sm-9">
                          <li class="w3-display-container"><a href="/view-file/{{item[0]}}">{{item[0]}}</a>
                          </div>
                          <div class="col-sm-1">
                          <button id="{{item[0]}}" type="button" class="btn btn-default"><i class= "fa fa-trash"></i></button>
                            <script type="text/javascript">
                              document.getElementById("{{item[0]}}").onclick = function () {
                                location.href = "/delete-file/{{item[0]}}";
                              };
                            </script>
                          </div>
                        </div>
                        </ul>
                        {% endfor %}
                    </div>
                  </div>
                  <br>
                </div>
                <div class="col-sm-2" ></div>
             </div>
          </div>
          </div>
          <br>

</div>
{% endblock %}
              
                