{% extends "./sidebar-09/home.html" %}
{% block content %}  
<style>
    body{
        background-color: rgb(11, 64, 111);
  box-sizing: border-box;
    }
</style>       
<div class="container-fluid">
    <div class="row">
      <div class="col-sm-2" ></div>
  
        <div class="col-sm-8" style="background-color: white;  border-radius:10px; height: 550px; min-width:600px">
          <div class="container-fluid" > 
            <h1 style=" font-size: 40px;
            color: #4070f4;
            text-align: center;">Respository <i class="fa fa-database"></i></h1>
                      <h3 style="color: rgb(11, 64, 111);
                      text-shadow: 4px 4px 4px rgb(150, 146, 146);" >My Files</h3>
                      <div>
                        <br>
                        <br>
                          {% for item in path %}
                          
                          <ul class="w3-ul w3-card-4" style="text-align: left;">
                            <li class="w3-display-container"><a href="/view-file/{{item[0]}}">{{item[0]}}</a>
                              
                          </ul>
                          
          
                              
                          {% endfor %}
                      </div>
                    </div>
                    <br>
                  </div>
               </div>
            </div>
            <br>
{% endblock %}