{% extends "./sidebar-09/home.html" %}
{% block content %}      
            <div class="w3-row-padding w3-center w3-margin-top" style="margin-left: 220px;">
                <div class="w3-third">
                  <div class="w3-card w3-container" style="background-color:rgb(239, 243, 247); min-height:460px; width: 900px; height:max-content;">
                    <h1 class=home__title-color style="font-size:60px;" >Respository <i class="fa fa-database"></i></h1>
                    <div class="w3-center w3-padding">
                      <h1 class="heading">Saved Repositories</h1><br><br>
                      <div class="scrollmenu w3-padding">
                        {% for name in names %}
                          <button id="{{name[1]}}" type="button" class="w3-button w3-blue w3-padding-large w3-large w3-hover-black" style="border-radius: 6px;">{{name[0]}}</button>
                          <script type="text/javascript">
                            document.getElementById("{{name[1]}}").onclick = function () {
                              location.href = "/repository/{{name[1]}}";
                            };
                          </script>
                          {% endfor %}
                        </div>
                      <br>
                      <h1 class="heading">My Files</h1>
                      <div>
                        <br>
                        <form method="POST" action="/upload-file" enctype="multipart/form-data">
                          <input type="file" name="fileToUpload" id="fileToUpload" />
                          <input type="submit" value="save" name="submit" />
                        </form>
                        <br>
                          {% for item in path %}
                          <ul class="w3-ul w3-card-4" style="text-align: left;">
                            <li class="w3-display-container"><a href="/view-file/{{item[0]}}">{{item[0]}}</a>
                            <button id="{{item[0]}}" type="button" class="w3-button  w3-transparent w3-display-right"><i class= "fa fa-trash"></i></button>
                              <script type="text/javascript">
                                document.getElementById("{{item[0]}}").onclick = function () {
                                  location.href = "/delete-file/{{item[0]}}";
                                };
                              </script>
                          </ul>
                          
          
                              
                          {% endfor %}
                      </div>
                    </div>
                    <br>
                  </div>
               </div>
            </div>
            <br>
{% endblock %}
              
                