{% extends "./sidebar-09/home.html" %}
{% block content %}    
<br>
<div class="container-fluid" id="report">
    <div class="row">
      <div class="col-sm-2" ></div>

        <div class="col-sm-8" >
              <div class="container-fluid text-center" style="background-color: white; min-width:500px; min-height: 400px;border-radius:10px">
               <br>  
    <form id="form1" runat="server">
        <div>
        <div class="coverpic" style="height: 300px;">
        <img  src="/static/sidebar/images/{{u[6]}}" style="height: 300px; width:800px; margin-left:20px">
      </div>
        <div class="profilepic" >
        <img  src="/static/sidebar/images/{{u[5]}}" style="width: 150px; height: 150px;   border-radius: 50%;" >
      </div>
      </div><br><br><br>
      <h2 >{{u[1]}}</h2>
    </form>
  <br />
  <center>
  <button id="Button" type="button" class="btn btn-info">Follow Me!</button>
 
  <script type="text/javascript">
    document.getElementById("Button").onclick = function () {
      location.href = "/send-notification/{{u[0]}}";
    };

  </script>
  <br />
  <br />
  <script>check = false;</script>
  {% if path is not false %}
  {% for item in path %}
  
  <tr>
    <td><a href="/view-file/{{item[0]}}">{{item[0]}}</a></td>
    <br />
    <script>check=true;</script>
  </tr>
  {% endfor %}
  <br />
  <br />

  <button id="myButton" type="button" class="btn btn-info"  >
    Click to Save Repository
  </button><br>
</center>
</div>
</div>
</div> 
  <script type="text/javascript">
    document.getElementById("myButton").onclick = function () {
      location.href = "/save-to-repository/{{u[0]}}";
    };
    if (check == true){
      document.getElementById("myButton").style.display="block";
    }
    else{
      document.getElementById("myButton").style.display="none";
    }
  </script>
{% endif %}
{% if path is false %}

  <p>Send follow request to user to view repository</p>

{% endif %}

</div>
<div class="col-sm2"></div>
</div></div></div>
<br>
{% endblock %}
              
                
