{% extends "./sidebar-09/home.html" %}
{% block content %} 
<br >
    <div class="container-fluid">
        <div class="row">
          <div class="col-sm-2" ></div>
           
          <div class="col-sm-8" style="background-color: white; min-width:600px; min-height: 550px;border-radius:10px">
            <div class="card text-center">
    <h3 style=" color:#4070F4">Similar Profiles.. </h3><br> 
          <br>
          {% for item in searched %}
          <div class="card" style="width:250px; height: 200px;  margin-left: 310px; border: outset; padding-top:20px"> 
            <a href="/{{item[0]}}"> <tr>
                <img height="125" width="125" style="border-radius: 50%;" src="/static/sidebar/images/{{item[5]}}">
                <br>
                <br>
                <td>{{item[1]}}</td>
            </tr></a>
            </div>
            <br>
        {% endfor %}
           
          </div>
          <div class="col-sm2"></div> 
    </div>
    </div>
    </div>
    <br>
{% endblock %}