{% extends "./sidebar-09/home.html" %}
{% block content %}
<br>
  
<div  style="margin-top:5px">
    <div class="container-fluid">
        <div class="row">
          <div class="col-sm-1" style="margin-right:50px;" ></div>
          
          <div class="col-sm-9">
          <div class="container-fluid" style="background-color: white;  border-radius:10px;">
            <h1 class="home__title">Summary Results </h1>
            <div class="container-fluid">
           <section>
            <div class="row">
             <div class="col-sm-5 text-center" style=" margin-left:20px; min-height: 400px;">
              <h3>Original Text</h3>
              <textarea class="form-control z-depth-1"  placeholder="" style="min-width:400px; min-height:300px;border-radius: 2%; border-color: aqua;">{{page}}</textarea>
             </div>
             <div class="col-sm-5 text-center" style=" margin-left:20px; min-height: 400px;">
              <h3>Summarized Text</h3>
              <textarea class="form-control z-depth-1"  placeholder="" style="min-width:400px; min-height:300px; border-radius: 2%;  border-color:rgba(255, 0, 0, 0.871);">{{summ}}</textarea>
            </div>
            </div>
           </section>
          <center>
           <section >
           <form method="POST" action="summary" enctype="multipart/form-data">
            <label style="font-size:15px; color: rgb(7, 57, 100);" for="sentences">Number of sentences: </label>
            <input 
              placeholder=""
              type="number"
              name="sentences"
              id="sentences"
            />
            <input type="submit" class="btn btn-info" value="Submit" name="submit" />
          </form><br>
          <center>
            <form method="POST" action="save" enctype="multipart/form-data">
              <label for="fname">Enter file name to save:</label><br>
              <input type="text" id="fname" name="fname">
              <label></label>
              <input type="submit" class="btn btn-danger" value=" Save">
            </form></center>
          
        </center>
          </div>
          <br>
        </section>
          </div>
        </div>
      
          <div class="col-sm-2"></div>
        </div>
      </div>
</div>
<br>
{% endblock %}